<!-- ************************************************************
//
//  meta
//
// ************************************************************ -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1 ,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<title><%= meta.tit %></title>
<meta name="description" content="<%= meta.des %>">
<meta name="keywords" content="<%= meta.keyword %>">

<!-- fb ogp -->
<meta property="og:title" content="<%= meta.fb.tit %>" /> 
<meta property="og:description" content="<%= meta.fb.des %>" />
<meta property="og:image" content="<%= meta.fb.img %>" />
<meta property="og:url" content="<%= meta.fb.url %>" /> 
<meta property="og:site_name" content="<%= meta.fb.siteName %>" />
<meta property="og:type" content="<%= meta.fb.type %>" />
<meta property="og:locale" content="ja_JP" />

<!-- twitter ogp -->
<meta name="twitter:card" content="<%= meta.tw.card %>">
<meta name="twitter:title" content="<%= meta.tit %>">
<meta name="twitter:description" content="<%= meta.des %>">
<meta name="twitter:url" content="<%= meta.tw.url %>">
<!-- <meta name="twitter:site" content="<%= meta.tw.siteName %>"> -->
<meta name="twitter:image" content="<%= meta.tw.img %>">
